<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb2slides-description">
                <h4 class="mb2slides-title">About the Training Management Information System (TMIS)</h4>
                <p dir="ltr" style="text-align:left;margin-bottom:30px;">
                    <span>TMIS is developed as a Government to Government (G2G) web based application which will
                        facilitate monitoring and planning of skilled and trained health care providers.</span>
                    
                </p>
            </div>
        </div>
    </div>
</div>