<div class="banner">
    <div class="container">
        <div class="row">
        <div class="col-md-5 mb2slides-description">
            <h4 class="mb2slides-title">Start Training with TMIS</h4>
            <p dir="ltr" style="text-align:left;margin-bottom:30px;">
                <span>- Real time track on training status of all
                    the trainings.</span>
                <span>- Online certificate generation on completion
                    of training. Ensuring Quality trained batches based of pre and post
                    evaluation.</span>
                <span>- To enable user to preview, compare, modify
                    and forward data to the next level by authorized users.</span>

                <span>- Authentic data and real time reports on
                    actual trained/untrained manpower (designation wise/facility wise/dp wise)with
                    visualized graphical representations.</span>

                <span>
                    - Possibility of integration/synchronization of state HRMIS with TMIS for centralized
                    data of HRH in states the country.
                </span>


            </p>
        </div>
        </div>
    </div>
</div>
